openapi: 3.1.0
info:
  title: Open HACCP API
  version: 1.2.0
  description: Sensor Protocol V1 plus the session-protected operational, media, compliance and export dashboard API.
  x-stable-error-codes:
    - AUTHENTICATION_REQUIRED
    - PASSWORD_CHANGE_REQUIRED
    - CSRF_FAILED
    - FORBIDDEN
    - LEGAL_PROFILE_INCOMPLETE
    - INVALID_EXPORT_REQUEST
    - EXPORT_NOT_READY
    - EXPORT_EXPIRED
    - ACTION_VALIDATION_FAILED
    - INVALID_THEME_PREFERENCE
    - MEASUREMENT_POINT_NOT_FOUND
    - PHOTO_NOT_FOUND
    - PHOTO_TOO_LARGE
    - UNSUPPORTED_IMAGE_FORMAT
    - INVALID_IMAGE
    - IMAGE_PROCESSING_FAILED
servers:
  - url: https://haccp.pow24.org
    description: VPS test deployment; HTTPS is mandatory for sensor firmware
  - url: http://localhost:18082
    description: Loopback-only local development
paths:
  /health:
    get:
      operationId: healthcheck
      summary: Check application and database readiness
      security: []
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
                service: haccp-monitor-backend
                database: ok
        "503":
          description: Database is unavailable
  /api/v1/device/measurements:
    post:
      operationId: uploadMeasurementBatch
      summary: Upload a partially processable measurement batch
      security:
        - DeviceId: []
          DeviceKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "./protocol-v1.schema.json"
            example:
              protocol_version: 1
              batch_id: 00000042-00000127
              firmware_version: 0.1.0
              hardware_revision: prototype-a
              sent_at: "2026-08-07T16:00:00Z"
              diagnostics:
                battery_mv: 6127
                rssi_dbm: -58
                wifi_connect_ms: 1834
                boot_count: 42
              measurements:
                - measurement_point: fridge-1
                  sequence: 1001
                  measured_at: "2026-08-07T15:55:00Z"
                  temperature_c: 4.10
                  humidity_rh: 69.80
                  battery_mv: 6132
      responses:
        "200":
          description: Batch envelope processed; individual measurements may be rejected
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchResponse"
              example:
                success: true
                protocol_version: 1
                server_time: "2026-08-07T16:00:02Z"
                batch_id: 00000042-00000127
                result:
                  received: 3
                  accepted: 2
                  duplicates: 0
                  rejected: 1
                  last_sequence: 1003
                acknowledgements:
                  - index: 0
                    measurement_point: fridge-1
                    sequence: 1001
                    status: accepted
                  - index: 2
                    measurement_point: fridge-1
                    sequence: 1003
                    status: accepted
                rejections:
                  - index: 1
                    measurement_point: fridge-1
                    sequence: 1002
                    code: INVALID_HUMIDITY
                    message: humidity_rh must be between 0 and 100
                sequence_gaps: []
                config_version: 1
                configuration:
                  protocol_version: 1
                  config_version: 1
                  server_time: "2026-08-07T16:00:02Z"
                  measurement: { interval_seconds: 300 }
                  measurement_points:
                    - { code: fridge-1, interval_seconds: 300 }
                  upload: { interval_seconds: 21600, max_batch_size: 500 }
                  alarm: { enabled: false, temperature_min_c: null, temperature_max_c: null }
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/device/heartbeat:
    post:
      operationId: sendHeartbeat
      summary: Send device diagnostics without measurements
      security:
        - DeviceId: []
          DeviceKey: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HeartbeatRequest"
            example:
              protocol_version: 1
              firmware_version: 0.1.0
              hardware_revision: prototype-a
              battery_mv: 6127
              rssi_dbm: -58
              wifi_connect_ms: 1834
              boot_count: 42
      responses:
        "200":
          description: Heartbeat stored
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HeartbeatResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          $ref: "#/components/responses/UnprocessableEntity"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/device/config:
    get:
      operationId: getDeviceConfig
      summary: Fetch the current device configuration
      security:
        - DeviceId: []
          DeviceKey: []
      responses:
        "200":
          description: Current configuration
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceConfigResponse"
              example:
                protocol_version: 1
                config_version: 1
                server_time: "2026-08-07T16:00:00Z"
                measurement:
                  interval_seconds: 300
                measurement_points:
                  - code: fridge-1
                    interval_seconds: 300
                upload:
                  interval_seconds: 21600
                  max_batch_size: 500
                alarm:
                  enabled: false
                  temperature_min_c: null
                  temperature_max_c: null
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/auth/login:
    post:
      operationId: dashboardLogin
      summary: Start a dashboard session
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [username, password]
              properties:
                username: { type: string, maxLength: 80 }
                password: { type: string, minLength: 1, maxLength: 128 }
      responses:
        "200":
          description: Session cookie, current user and CSRF token
          headers:
            Set-Cookie: { schema: { type: string } }
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
  /api/v1/auth/me:
    get:
      operationId: getCurrentDashboardUser
      summary: Read the current session user and CSRF token
      security: [{ DashboardSession: [] }]
      responses:
        "200":
          description: Current session
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuthResponse" }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
  /api/v1/auth/logout:
    post:
      operationId: dashboardLogout
      summary: Revoke the current session
      security: [{ DashboardSession: [], CsrfToken: [] }]
      responses:
        "200": { description: Session revoked }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/v1/auth/me/password:
    put:
      operationId: changeDashboardPassword
      summary: Change the current password and revoke all sessions
      security: [{ DashboardSession: [], CsrfToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [current_password, new_password]
              properties:
                current_password: { type: string, maxLength: 128 }
                new_password: { type: string, minLength: 12, maxLength: 128 }
      responses:
        "200": { description: Password changed; reauthentication required }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/auth/me/preferences:
    put:
      operationId: updateDashboardPreferences
      summary: Persist the current user's interface theme
      security: [{ DashboardSession: [], CsrfToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [theme]
              properties:
                theme: { type: string, enum: [system, light, dark] }
      responses:
        "200": { description: Theme preference updated for the current account }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/overview:
    get:
      operationId: getDashboardOverview
      summary: Read the developer dashboard overview
      description: Read-only operational data; not part of the firmware contract.
      security:
        - DashboardSession: []
      parameters:
        - in: query
          name: device
          schema: { type: string }
        - in: query
          name: point
          schema: { type: string }
        - in: query
          name: hours
          schema: { type: integer, enum: [6, 24, 72, 168], default: 24 }
      responses:
        "200":
          description: Fleet, selected measurement point, current protected photo URLs, chart series, recent values and diagnostics
          content:
            application/json:
              schema:
                type: object
                required: [server_time, window_hours, fleet, devices, series, recent_measurements]
                additionalProperties: true
        "401":
          $ref: "#/components/responses/Unauthorized"
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/dashboard/analysis:
    get:
      operationId: getDashboardAnalysis
      summary: Read measurements, events, connections and battery forecast
      security: [{ DashboardSession: [] }]
      parameters:
        - { in: query, name: days, schema: { type: integer, enum: [7, 30, 90], default: 30 } }
        - { in: query, name: device, schema: { type: string } }
        - { in: query, name: measurement_point_id, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Analysis data and accessible tabular series }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/events:
    get:
      operationId: listComplianceEvents
      summary: List the deviation timeline
      security: [{ DashboardSession: [] }]
      parameters:
        - { in: query, name: state, schema: { type: string } }
        - { in: query, name: device, schema: { type: string } }
        - { in: query, name: days, schema: { type: integer, enum: [7, 30, 90, 366] } }
      responses:
        "200": { description: Filtered persistent events }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
  /api/v1/dashboard/events/{id}:
    get:
      operationId: getComplianceEvent
      summary: Read an event, actions and all action revisions
      security: [{ DashboardSession: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Event detail }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/dashboard/events/{id}/acknowledge:
    post:
      operationId: acknowledgeComplianceEvent
      summary: Acknowledge an open event
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Event acknowledged }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/dashboard/events/{id}/actions:
    post:
      operationId: recordCorrectiveAction
      summary: Append a corrective action to an event
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CorrectiveActionRequest" }
      responses:
        "201": { description: Action and revision 1 recorded }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/actions/{id}:
    put:
      operationId: reviseCorrectiveAction
      summary: Append a correction revision before verification
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CorrectiveActionRevisionRequest" }
      responses:
        "200": { description: Revision appended }
        "409": { description: "ACTION_REVISION_CONFLICT or immutable verified action" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/actions/{id}/verify:
    post:
      operationId: verifyCorrectiveAction
      summary: Verify and close an action using the current password
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [note, password]
              properties:
                note: { type: string, minLength: 1, maxLength: 4000 }
                password: { type: string, maxLength: 128 }
      responses:
        "200": { description: Verification stored and action made immutable }
        "409": { description: Action already verified }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/devices:
    post:
      operationId: provisionDashboardDevice
      summary: Create a device, its first measurement point, and one-time setup credentials
      description: >-
        Administrator/operator endpoint protected by a database session and CSRF token. The plaintext device key exists only in
        this non-cacheable response; the server stores its peppered HMAC-SHA-256 digest. This endpoint is not part
        of Sensor Protocol V1.
      security:
        - DashboardSession: []
          CsrfToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardDeviceProvisioningRequest"
            example:
              device_uid: haccp-counter-0001
              name: Kühltheke Ausgabe
              measurement_point:
                code: counter-1
                name: Kühltheke Innenraum
                sensor_type: SHT45
                location: Ausgabe
              alarm:
                enabled: true
                temperature_min_c: 2.0
                temperature_max_c: 7.0
              battery:
                low_threshold_mv: 5600
                full_threshold_mv: 6000
      responses:
        "201":
          description: Device created; copy the device key before discarding this response
          headers:
            Cache-Control:
              schema: { type: string, const: "no-store, private" }
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardDeviceProvisioningResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "409":
          description: "Requested device UID already exists (DEVICE_UID_ALREADY_EXISTS)"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          description: "Provisioning values are invalid (INVALID_DEVICE_PROVISIONING)"
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/dashboard/devices/{device_uid}/settings:
    put:
      operationId: updateDashboardDeviceSettings
      summary: Create a new version of device alarm, battery, and optional reporting schedule settings
      description: >-
        Administrator/operator endpoint protected by a database session and CSRF token; not part of Sensor Protocol V1. If schedule
        is omitted, the existing device and measurement-point intervals are preserved.
      security:
        - DashboardSession: []
          CsrfToken: []
      parameters:
        - in: path
          name: device_uid
          required: true
          schema:
            type: string
            pattern: "^[a-z0-9][a-z0-9-]{2,63}$"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DashboardSettingsRequest"
            example:
              expected_config_version: 1
              alarm:
                enabled: true
                temperature_min_c: 2.0
                temperature_max_c: 7.0
              battery:
                low_threshold_mv: 5600
                full_threshold_mv: 6000
              schedule:
                default_measurement_interval_seconds: 300
                upload_interval_seconds: 21600
                measurement_points:
                  - measurement_point: fridge-1
                    interval_seconds: 300
      responses:
        "200":
          description: A complete new configuration version was created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DashboardSettingsResponse"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: Device UID is unknown
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "409":
          description: expected_config_version is no longer current
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "413":
          $ref: "#/components/responses/PayloadTooLarge"
        "415":
          $ref: "#/components/responses/UnsupportedMediaType"
        "422":
          description: Temperature, battery, or schedule settings are invalid
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ErrorResponse" }
        "500":
          $ref: "#/components/responses/InternalError"
  /api/v1/dashboard/devices/{device_uid}/battery-replaced:
    post:
      operationId: startBatteryCycle
      summary: Record a battery replacement and start a new forecast cycle
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: device_uid, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chemistry: { type: string, maxLength: 64 }
                series_count: { type: integer, minimum: 1, maximum: 16 }
                nominal_capacity_mah: { type: [integer, "null"], minimum: 1, maximum: 100000 }
                forecast_enabled: { type: boolean }
      responses:
        "201": { description: Battery cycle started }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/exports:
    get:
      operationId: listExports
      summary: List accessible export jobs
      security: [{ DashboardSession: [] }]
      responses:
        "200":
          description: Export history including status, expiry and checksum
          content:
            application/json:
              schema:
                type: object
                required: [success, jobs]
                properties:
                  success: { type: boolean, const: true }
                  jobs: { type: array, items: { $ref: "#/components/schemas/ExportJob" } }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
    post:
      operationId: createExport
      summary: Queue an authority or extended export
      security: [{ DashboardSession: [], CsrfToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ExportRequest" }
      responses:
        "202":
          description: Job accepted for background processing
          content:
            application/json:
              schema:
                type: object
                required: [success, job, jobs, split]
                properties:
                  success: { type: boolean, const: true }
                  job: { $ref: "#/components/schemas/ExportJob" }
                  jobs: { type: array, items: { $ref: "#/components/schemas/ExportJob" } }
                  split: { type: boolean, description: True when the requested range was divided into 366-day jobs. }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { description: "INVALID_EXPORT_REQUEST" }
  /api/v1/dashboard/exports/{id}:
    get:
      operationId: getExport
      summary: Read one export job
      security: [{ DashboardSession: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
      responses:
        "200": { description: Export job }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/dashboard/exports/{id}/download:
    get:
      operationId: downloadExport
      summary: Download a completed, non-expired export
      security: [{ DashboardSession: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: string, format: uuid } }
      responses:
        "200":
          description: PDF, XLSX or CSV ZIP artifact
          content:
            application/pdf: { schema: { type: string, format: binary } }
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet: { schema: { type: string, format: binary } }
            application/zip: { schema: { type: string, format: binary } }
        "409": { description: "EXPORT_NOT_READY" }
        "410": { description: "EXPORT_EXPIRED" }
  /api/v1/dashboard/users:
    get:
      operationId: listUsers
      summary: List retained active and inactive users
      security: [{ DashboardSession: [] }]
      responses:
        "200": { description: User list }
        "403": { $ref: "#/components/responses/Forbidden" }
    post:
      operationId: createUser
      summary: Create a user and return a one-time temporary password
      security: [{ DashboardSession: [], CsrfToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UserCreateRequest" }
      responses:
        "201": { description: User and one-time temporary password; response is not cacheable }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Username exists }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/users/{id}:
    put:
      operationId: updateUser
      summary: Update role/profile or deactivate while retaining references
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name: { type: string, minLength: 1, maxLength: 160 }
                email: { type: [string, "null"], format: email, maxLength: 254 }
                role: { type: string, enum: [administrator, operator, auditor] }
                active: { type: boolean }
      responses:
        "200": { description: Updated user; role/deactivation revokes sessions }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: Last active administrator must remain }
  /api/v1/dashboard/users/{id}/reset-password:
    post:
      operationId: resetUserPassword
      summary: Revoke sessions and return a one-time temporary password
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200": { description: Temporary password; response is not cacheable }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/dashboard/establishment:
    get:
      operationId: getEstablishment
      summary: Read business identity and current point profiles
      security: [{ DashboardSession: [] }]
      responses:
        "200": { description: Establishment and point compliance data }
        "403": { $ref: "#/components/responses/Forbidden" }
    put:
      operationId: updateEstablishment
      summary: Update business identity, timezone, retention and HACCP responsibility
      security: [{ DashboardSession: [], CsrfToken: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EstablishmentRequest" }
      responses:
        "200": { description: Establishment updated }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/measurement-points/{id}/photos:
    get:
      operationId: listMeasurementPointPhotos
      summary: List all non-deleted photo revisions for a measurement point
      security: [{ DashboardSession: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      responses:
        "200":
          description: Current and historical normalized photo revisions
          content:
            application/json:
              schema:
                type: object
                required: [success, measurement_point, photos]
                properties:
                  success: { type: boolean, const: true }
                  measurement_point: { type: object, additionalProperties: true }
                  photos: { type: array, items: { $ref: "#/components/schemas/MeasurementPointPhoto" } }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      operationId: uploadMeasurementPointPhoto
      summary: Normalize and append a new current photo revision
      description: >-
        Administrator/operator endpoint. The upload is limited to 12 MiB and 24 megapixels. JPEG, PNG, WebP,
        HEIC and HEIF are accepted; EXIF/GPS data and the original file are discarded. Stored variants are WebP.
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              additionalProperties: false
              required: [photo]
              properties:
                photo: { type: string, format: binary }
      responses:
        "201":
          description: Photo revision created
          content:
            application/json:
              schema:
                type: object
                required: [success, photo]
                properties:
                  success: { type: boolean, const: true }
                  photo: { $ref: "#/components/schemas/MeasurementPointPhoto" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "413": { description: PHOTO_TOO_LARGE }
        "415": { description: UNSUPPORTED_IMAGE_FORMAT }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/photos/{photo_id}/{variant}:
    get:
      operationId: viewMeasurementPointPhoto
      summary: Read a protected WebP photo variant
      security: [{ DashboardSession: [] }]
      parameters:
        - { in: path, name: photo_id, required: true, schema: { type: string, format: uuid } }
        - { in: path, name: variant, required: true, schema: { type: string, enum: [thumbnail, full] } }
      responses:
        "200":
          description: Private, immutable WebP variant
          content:
            image/webp: { schema: { type: string, format: binary } }
        "401": { $ref: "#/components/responses/DashboardUnauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/v1/dashboard/photos/{photo_id}:
    delete:
      operationId: permanentlyDeleteMeasurementPointPhoto
      summary: Permanently remove one photo revision while retaining an audit tombstone
      description: Administrator-only destructive action. If the current revision is removed, the latest surviving revision is promoted.
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: photo_id, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              required: [current_password]
              properties:
                current_password: { type: string, maxLength: 128 }
      responses:
        "200": { description: Image files removed; current_photo_id contains the promoted revision or null }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/measurement-points/{id}/compliance:
    put:
      operationId: updateMeasurementPointCompliance
      summary: Append a versioned compliance and instrument profile
      security: [{ DashboardSession: [], CsrfToken: [] }]
      parameters:
        - { in: path, name: id, required: true, schema: { type: integer, minimum: 1 } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ComplianceProfileRequest" }
      responses:
        "200": { description: New profile version created }
        "403": { $ref: "#/components/responses/Forbidden" }
        "409": { description: "COMPLIANCE_VERSION_CONFLICT" }
        "422": { $ref: "#/components/responses/UnprocessableEntity" }
  /api/v1/dashboard/compliance/preflight:
    get:
      operationId: compliancePreflight
      summary: Check business, responsibility, point and quick-frozen evidence readiness
      security: [{ DashboardSession: [] }]
      responses:
        "200":
          description: Completeness flag and issue list
          content:
            application/json:
              schema:
                type: object
                required: [success, complete, issues]
                properties:
                  success: { type: boolean, const: true }
                  complete: { type: boolean }
                  issues: { type: array, items: { type: string } }
components:
  securitySchemes:
    DeviceId:
      type: apiKey
      in: header
      name: X-Device-ID
    DeviceKey:
      type: apiKey
      in: header
      name: X-Device-Key
    DashboardSession:
      type: apiKey
      in: cookie
      name: haccp_session
    CsrfToken:
      type: apiKey
      in: header
      name: X-CSRF-Token
  schemas:
    HealthResponse:
      type: object
      required: [status, service, database]
      properties:
        status: { type: string, const: ok }
        service: { type: string, const: haccp-monitor-backend }
        database: { type: string, const: ok }
    BatchResponse:
      type: object
      required: [success, protocol_version, server_time, batch_id, result, acknowledgements, rejections, sequence_gaps, config_version, configuration]
      properties:
        success: { type: boolean, const: true }
        protocol_version: { type: integer, const: 1 }
        server_time: { type: string }
        batch_id: { type: string }
        result:
          type: object
          required: [received, accepted, duplicates, rejected, last_sequence]
          properties:
            received: { type: integer, minimum: 1, maximum: 500 }
            accepted: { type: integer, minimum: 0 }
            duplicates: { type: integer, minimum: 0 }
            rejected: { type: integer, minimum: 0 }
            last_sequence: { type: [integer, "null"] }
        acknowledgements:
          type: array
          items:
            type: object
            required: [index, measurement_point, sequence, status]
            properties:
              index: { type: integer, minimum: 0 }
              measurement_point: { type: string }
              sequence: { type: integer, minimum: 1 }
              status: { type: string, enum: [accepted, duplicate] }
        rejections:
          type: array
          items:
            type: object
            required: [index, measurement_point, sequence, code, message]
            properties:
              index: { type: integer, minimum: 0 }
              measurement_point: { type: [string, "null"] }
              sequence: { type: [integer, "null"] }
              code: { type: string }
              message: { type: string }
        sequence_gaps:
          type: array
          items:
            type: object
            required: [measurement_point, from_sequence, to_sequence]
            properties:
              measurement_point: { type: string }
              from_sequence: { type: integer, minimum: 1 }
              to_sequence: { type: integer, minimum: 1 }
        config_version: { type: integer, minimum: 1 }
        configuration:
          $ref: "#/components/schemas/DeviceConfigResponse"
    HeartbeatRequest:
      $ref: "./protocol-v1.schema.json#/$defs/heartbeat"
    HeartbeatResponse:
      type: object
      required: [success, protocol_version, server_time, config_version, configuration]
      properties:
        success: { type: boolean, const: true }
        protocol_version: { type: integer, const: 1 }
        server_time: { type: string }
        config_version: { type: integer, minimum: 1 }
        configuration:
          $ref: "#/components/schemas/DeviceConfigResponse"
    DeviceConfigResponse:
      type: object
      required: [protocol_version, config_version, server_time, measurement, measurement_points, upload, alarm]
      properties:
        protocol_version: { type: integer, const: 1 }
        config_version: { type: integer, minimum: 1 }
        server_time: { type: string }
        measurement:
          type: object
          required: [interval_seconds]
          properties:
            interval_seconds: { type: integer, minimum: 30, maximum: 86400 }
        measurement_points:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [code, interval_seconds]
            properties:
              code: { type: string, pattern: "^[a-z0-9][a-z0-9-]{0,63}$" }
              interval_seconds: { type: integer, minimum: 30, maximum: 86400 }
        upload:
          type: object
          required: [interval_seconds, max_batch_size]
          properties:
            interval_seconds: { type: integer, minimum: 60, maximum: 604800 }
            max_batch_size: { type: integer, minimum: 1, maximum: 500 }
        alarm:
          type: object
          required: [enabled, temperature_min_c, temperature_max_c]
          properties:
            enabled: { type: boolean }
            temperature_min_c: { type: [number, "null"] }
            temperature_max_c: { type: [number, "null"] }
    DashboardSettingsRequest:
      type: object
      additionalProperties: false
      required: [expected_config_version, alarm, battery]
      properties:
        expected_config_version: { type: integer, minimum: 1 }
        alarm:
          type: object
          additionalProperties: false
          required: [enabled, temperature_min_c, temperature_max_c]
          properties:
            enabled: { type: boolean }
            temperature_min_c: { type: [number, "null"], minimum: -100, maximum: 150 }
            temperature_max_c: { type: [number, "null"], minimum: -100, maximum: 150 }
        battery:
          type: object
          additionalProperties: false
          required: [low_threshold_mv, full_threshold_mv]
          properties:
            low_threshold_mv: { type: integer, minimum: 0, maximum: 10000 }
            full_threshold_mv: { type: integer, minimum: 0, maximum: 10000 }
        schedule:
          $ref: "#/components/schemas/DashboardSchedule"
    DashboardSchedule:
      type: object
      additionalProperties: false
      required: [default_measurement_interval_seconds, upload_interval_seconds, measurement_points]
      properties:
        default_measurement_interval_seconds: { type: integer, minimum: 30, maximum: 86400 }
        upload_interval_seconds: { type: integer, minimum: 60, maximum: 604800 }
        measurement_points:
          type: array
          items:
            type: object
            additionalProperties: false
            required: [measurement_point, interval_seconds]
            properties:
              measurement_point: { type: string, pattern: "^[a-z0-9][a-z0-9-]{0,63}$" }
              interval_seconds: { type: integer, minimum: 30, maximum: 86400 }
    DashboardDeviceProvisioningRequest:
      type: object
      additionalProperties: false
      required: [name, measurement_point, alarm, battery]
      properties:
        device_uid:
          type: string
          pattern: "^[a-z0-9][a-z0-9-]{2,63}$"
          description: "Optional; the server generates haccp- plus 12 random hexadecimal characters when omitted."
        name: { type: string, minLength: 1, maxLength: 160 }
        measurement_point:
          type: object
          additionalProperties: false
          required: [code, name, sensor_type]
          properties:
            code: { type: string, pattern: "^[a-z0-9][a-z0-9-]{0,63}$" }
            name: { type: string, minLength: 1, maxLength: 160 }
            sensor_type: { type: string, minLength: 1, maxLength: 64 }
            location: { type: [string, "null"], maxLength: 255 }
        alarm:
          type: object
          additionalProperties: false
          required: [enabled, temperature_min_c, temperature_max_c]
          properties:
            enabled: { type: boolean }
            temperature_min_c: { type: [number, "null"], minimum: -100, maximum: 150 }
            temperature_max_c: { type: [number, "null"], minimum: -100, maximum: 150 }
        battery:
          type: object
          additionalProperties: false
          required: [low_threshold_mv, full_threshold_mv]
          properties:
            low_threshold_mv: { type: integer, minimum: 0, maximum: 10000 }
            full_threshold_mv: { type: integer, minimum: 0, maximum: 10000 }
    DashboardDeviceProvisioningResponse:
      type: object
      additionalProperties: false
      required: [success, device, setup_package, credential_notice]
      properties:
        success: { type: boolean, const: true }
        device:
          type: object
          additionalProperties: false
          required: [device_uid, name, status, config_version]
          properties:
            device_uid: { type: string }
            name: { type: string }
            status: { type: string, const: active }
            config_version: { type: integer, const: 1 }
        setup_package:
          type: object
          additionalProperties: false
          required: [api_base_url, device_uid, device_key, device_label, measurement_point]
          properties:
            api_base_url: { type: string, format: uri, pattern: "^https://" }
            device_uid: { type: string }
            device_key: { type: string, pattern: "^[a-f0-9]{64}$" }
            device_label: { type: string }
            measurement_point: { type: string }
        credential_notice: { type: string }
    DashboardSettingsResponse:
      type: object
      additionalProperties: false
      required: [success, config_version, settings, alarm_status]
      properties:
        success: { type: boolean, const: true }
        config_version: { type: integer, minimum: 2 }
        settings:
          type: object
          required: [config_version, alarm, battery, schedule]
          additionalProperties: false
          properties:
            config_version: { type: integer, minimum: 2 }
            alarm:
              type: object
              required: [enabled, temperature_min_c, temperature_max_c]
              properties:
                enabled: { type: boolean }
                temperature_min_c: { type: [number, "null"] }
                temperature_max_c: { type: [number, "null"] }
            battery:
              type: object
              required: [low_threshold_mv, full_threshold_mv]
              properties:
                low_threshold_mv: { type: integer }
                full_threshold_mv: { type: integer }
            schedule:
              $ref: "#/components/schemas/DashboardSchedule"
        alarm_status:
          type: string
          enum: [normal, below_min, above_max, disabled, no_data]
    DashboardUser:
      type: object
      required: [id, username, display_name, role, theme_preference, password_change_required, active]
      properties:
        id: { type: integer, minimum: 1 }
        username: { type: string }
        display_name: { type: string }
        email: { type: [string, "null"], format: email }
        role: { type: string, enum: [administrator, operator, auditor] }
        theme_preference: { type: string, enum: [system, light, dark] }
        password_change_required: { type: boolean }
        active: { type: boolean }
    MeasurementPointPhoto:
      type: object
      additionalProperties: false
      required: [photo_id, revision, is_current, thumbnail_url, full_url, width, height, size, sha256, created_at]
      properties:
        photo_id: { type: string, format: uuid }
        revision: { type: integer, minimum: 1 }
        is_current: { type: boolean }
        thumbnail_url: { type: string }
        full_url: { type: string }
        width: { type: integer, minimum: 1, maximum: 2048 }
        height: { type: integer, minimum: 1, maximum: 2048 }
        size: { type: integer, minimum: 1 }
        sha256: { type: string, pattern: "^[a-f0-9]{64}$" }
        created_at: { type: string, format: date-time }
        created_by: { type: [string, "null"] }
    AuthResponse:
      type: object
      required: [success, user, csrf_token]
      properties:
        success: { type: boolean, const: true }
        user: { $ref: "#/components/schemas/DashboardUser" }
        csrf_token: { type: string, pattern: "^[a-f0-9]{64}$" }
    CorrectiveActionRequest:
      type: object
      additionalProperties: false
      required: [cause, action_taken, product_disposition, performed_at]
      properties:
        cause: { type: string, minLength: 1, maxLength: 4000 }
        action_taken: { type: string, minLength: 1, maxLength: 4000 }
        product_disposition: { type: string, minLength: 1, maxLength: 4000 }
        preventive_follow_up: { type: [string, "null"], maxLength: 4000 }
        performed_at: { type: string, format: date-time }
        responsible_user_id: { type: integer, minimum: 1 }
    CorrectiveActionRevisionRequest:
      type: object
      additionalProperties: false
      required: [expected_revision, cause, action_taken, product_disposition, performed_at]
      properties:
        expected_revision: { type: integer, minimum: 1 }
        cause: { type: string, minLength: 1, maxLength: 4000 }
        action_taken: { type: string, minLength: 1, maxLength: 4000 }
        product_disposition: { type: string, minLength: 1, maxLength: 4000 }
        preventive_follow_up: { type: [string, "null"], maxLength: 4000 }
        performed_at: { type: string, format: date-time }
        responsible_user_id: { type: integer, minimum: 1 }
    ExportRequest:
      type: object
      additionalProperties: false
      required: [mode, format, legal_profile, from, to, device_uids, measurement_point_ids]
      properties:
        mode: { type: string, enum: [authority, extended] }
        format: { type: string, enum: [pdf, xlsx, csv] }
        legal_profile: { type: string, enum: [configured, general_haccp, quick_frozen] }
        from: { type: string, format: date }
        to: { type: string, format: date, description: Inclusive; maximum period is 366 days. }
        device_uids: { type: array, maxItems: 100, items: { type: string } }
        measurement_point_ids: { type: array, maxItems: 100, items: { type: integer, minimum: 1 } }
        extended_fields:
          type: array
          uniqueItems: true
          items:
            type: string
            enum: [humidity, battery, battery_forecast, rssi, wifi_timing, firmware, sequences, received_at, transmissions, configuration]
    ExportJob:
      type: object
      required: [public_id, status, mode, format, draft, created_at]
      properties:
        public_id: { type: string, format: uuid }
        status: { type: string, enum: [queued, running, complete, failed, expired] }
        mode: { type: string, enum: [authority, extended] }
        format: { type: string, enum: [pdf, xlsx, csv] }
        draft: { type: boolean }
        requested_by: { type: string }
        attempt_count: { type: integer, minimum: 0, maximum: 2 }
        file_name: { type: [string, "null"] }
        file_size: { type: [integer, "null"] }
        sha256: { type: [string, "null"], pattern: "^[a-f0-9]{64}$" }
        error_code: { type: [string, "null"] }
        created_at: { type: string }
        completed_at: { type: [string, "null"] }
        expires_at: { type: [string, "null"] }
    UserCreateRequest:
      type: object
      additionalProperties: false
      required: [username, display_name, role]
      properties:
        username: { type: string, pattern: "^[a-z0-9][a-z0-9._-]{2,79}$" }
        display_name: { type: string, minLength: 1, maxLength: 160 }
        email: { type: [string, "null"], format: email, maxLength: 254 }
        role: { type: string, enum: [administrator, operator, auditor] }
    EstablishmentRequest:
      type: object
      required: [legal_name, address_line1, postal_code, city, country_code, timezone, general_retention_months]
      properties:
        legal_name: { type: string, minLength: 1, maxLength: 200 }
        trade_name: { type: [string, "null"], maxLength: 200 }
        address_line1: { type: string, minLength: 1, maxLength: 200 }
        address_line2: { type: [string, "null"], maxLength: 200 }
        postal_code: { type: string, minLength: 1, maxLength: 20 }
        city: { type: string, minLength: 1, maxLength: 120 }
        country_code: { type: string, pattern: "^[A-Z]{2}$" }
        authority_reference: { type: [string, "null"], maxLength: 160 }
        timezone: { type: string, example: Europe/Berlin }
        haccp_responsible_user_id: { type: [integer, "null"], minimum: 1 }
        general_retention_months: { type: integer, minimum: 1, maximum: 120 }
    ComplianceProfileRequest:
      type: object
      required: [expected_config_version, legal_profile, control_classification, monitoring_purpose, retention_months]
      properties:
        expected_config_version: { type: integer, minimum: 0 }
        legal_profile: { type: string, enum: [general_haccp, quick_frozen] }
        control_classification: { type: string, enum: [GHP, OPRP, CCP] }
        monitoring_purpose: { type: string, minLength: 1, maxLength: 255 }
        humidity_is_critical: { type: boolean }
        retention_months: { type: integer, minimum: 1, maximum: 120 }
        responsible_user_id: { type: [integer, "null"], minimum: 1 }
        instrument_manufacturer: { type: [string, "null"], maxLength: 160 }
        instrument_model: { type: [string, "null"], maxLength: 160 }
        instrument_serial: { type: [string, "null"], maxLength: 160 }
        conformity_status: { type: string, enum: [not_documented, documented, expired] }
        conformity_reference: { type: [string, "null"], maxLength: 255 }
        calibration_reference: { type: [string, "null"], maxLength: 255 }
        verification_reference: { type: [string, "null"], maxLength: 255 }
        calibrated_at: { type: [string, "null"], format: date }
        verification_due_at: { type: [string, "null"], format: date }
    ErrorResponse:
      type: object
      required: [success, error]
      properties:
        success: { type: boolean, const: false }
        error:
          type: object
          required: [code, message]
          properties:
            code: { type: string }
            message: { type: string }
            details: { type: object }
  responses:
    DashboardUnauthorized:
      description: "AUTHENTICATION_REQUIRED or invalid login credentials"
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Forbidden:
      description: "FORBIDDEN, CSRF_FAILED, or PASSWORD_CHANGE_REQUIRED"
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Requested dashboard resource was not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    BadRequest:
      description: Malformed JSON request
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Unauthorized:
      description: Missing, invalid, or disabled device credentials
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
          example:
            success: false
            error:
              code: DEVICE_AUTHENTICATION_FAILED
              message: Device authentication failed
    PayloadTooLarge:
      description: Request body exceeds 256 KiB
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    UnsupportedMediaType:
      description: Content-Type is not application/json
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    UnprocessableEntity:
      description: Batch envelope or heartbeat is semantically invalid
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    TooManyRequests:
      description: Reserved for rate limiting
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    InternalError:
      description: Internal server error without stack trace
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
